.wrap {
    position: relative;
    background: slategray;
}

.wrap>div {
    width: 100px;
    height: 100px;
    margin: 0.5rem;
    color: #fff;
    position: absolute;
}

.wrap>div:nth-child(1) {
    top: 10px;
    left: 10px;
    background-color: red;
    z-index: 1
}

.wrap>div:nth-child(2) {
    top: 30px;
    left: 30px;
    background-color: green;
    z-index: 99999;
}

.wrap>div:nth-child(3) {
    top: 50px;
    left: 50px;
    background-color: blue;
    z-index: -1;
}